<% provide(:title, "Detail")%>
<html>
    <head>
        <title>
            <%= yield(:title)%> | Ruby on rails demo
        </title>
    </head>
    <body>
        <h1>
            <%= yield(:title)%>
        </h1>
    </body>
</html>